/* Estilo para o cabeçalho */
header {
    background-color: #333; /* Fundo cinza escuro */
    padding: 30px;
}

/* Estilo para os links do cabeçalho */
header nav a {
    color: #fff; /* Cor das letras branca */
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

/* Mudança de cor ao passar o mouse nos links do cabeçalho */
header nav a:hover {
    color: #ccc; /* Cor das letras cinza claro */
}

/* Estilo para o botão "Saber Mais" */
button {
    background-color: #333; /* Fundo da mesma cor do cabeçalho */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Border-radius para cantos arredondados */
    cursor: pointer;
}

/* Mudança de cor ao passar o mouse no botão */
button:hover {
    background-color: #ccc; /* Fundo cinza claro */
    color: #000; /* Cor das letras preta */
}
